body {
    font-family: sans-serif;
    background-color: #faf8f0;
}

h1 {
    margin: 0;
    border: 0;
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 40px;
    font-stretch: expanded;
}

button {
    padding: 10px 15px;
    border: 0;
    margin: 0;
}

